<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <nav class="shadow-lg">
        <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
            
                <img class="h-9 mr-3" src="https://cdn4.iconfinder.com/data/icons/plastic-iconshock/256/Shopping_cart.png" alt="">
                <span class="self-center text-xl font-semibold">ABC Website</span>
            </a>
    
       <a href="{% url 'login' %}">Login</a>
    

    </div>
    </nav>
    <div class="m-10">
        
        <h1 class="font-bold text-lg">You have been Logged out!</h1>
       
    </div>
</body>
</html>